# Ignore student spaces
StudentSpaces/*
Files/*

# not fullyd eleted files
.nfs*

# all fastq data
*fastq*
*fq*

# Case data
CaseInformation/CaseFiles/*

Scripts/OEFILES/*

Exomiser/*

# sif 
*.sif

# error/output
*error
*out

*DS_Store
